<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div ngFor="let datos of carousel" class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="datos.Imagen" class="d-block w-100" alt="...">
          </div>
         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <section class="Descripcion">
        <div class="p-descr">
            <a style="text-decoration:none"  href="#catalogo">
            <p class="parrafo text-center">Compra en EPTechnology tenemos los mejores productos <br> importados y nacionales a
              un precio economico</p>
            </a>
          </div>
      </section>
      <section class="CatalogoDeProductos">
        <div class="contenedor container" id="catalogo">
            <!-- CONTENIDO DE LA PAGINA  -->
            <h1 class="mt-4 mb-5 text-center">Catalogo de Productos</h1>
            <div class="row">
              <div *ngFor="let dato of lista"  class="col-4">
                <div class="card" style="width: 18rem;">
                  <img [src]="dato.Img" class="card-img-top" alt="Gabinete">
                  <div class="card-body">
                    <h5 class="card-title">{{dato.Nombre}}</h5>
                    <!-- Button para modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Ver Mas
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle"> {{dato.Nombre}}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img [src]="dato.Img" class="w-100" alt=""> <br>
                            {{dato.Descripcion}}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary m-auto" data-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            </div>
      </section>
</body>