<div class="container">
  <h1 class="mb-5 mt-5 text-center">Formulario de Contacto</h1>
    <form class="form-horizontal" role="form" method="post" action="index.php">
        <div class="form-group">
            <span class="col-md-1 col-md-offset-1 text-center"><i class="fa fa-user bigicon"></i></span>
        <label for="name" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" value="">
        </div>
        </div>
        <div class="form-group">
        <span class="col-md-1 col-md-offset-1 text-center"><i class="fa fa-user bigicon"></i></span>
        <label for="name" class="col-sm-2 control-label">Apellido</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Apellido" value="">
        </div>
        </div>
        <div class="form-group">
        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="example@hotmail.com" value="">
        </div>
        </div>
        <div class="form-group">
        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
        <label for="message" class="col-sm-2 control-label">Mensaje</label>
        <div class="col-sm-10">
        <textarea class="form-control" rows="4" name="message" placeholder="
        Ingrese su masaje para nosotros aquí. Nos pondremos en contacto con usted dentro de 2 días hábiles."></textarea>
        </div>
        </div>
        <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
        <input id="submit" name="submit" type="submit" value="Enviar" class="btn btn-primary"  style="width: 100%;">
        </div>
        </div>
       </form>
</div>