<footer class="position-absolute">
    <div class="d-flex justify-content-center bg-dark p-3">
      <div class="pr-4">Designed by Ezequiel Pereyra</div>
      <div class="pr-4">
        <a href="https://www.facebook.com/Ezequielpereyra24" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="pr-4">
        <a href="https://twitter.com/EzhePereyra" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="pr-4">
        <a href="https://www.instagram.com/ezepereyrag/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      </div>
  </footer>