<h1 class="container text-center mt-5 mb-5">Ubicación</h1>

<div class="row justify-content-around">
  <div class="col-4 direccion text-center">
    <p>
      <br><b><em>Dirección:</em></b><br />
      Santa Ana Esq Maestro Vidal<br>
      <b><em>Codigo Postal: </em></b><br> 5010
    </p>
    <br />
    <p>
      <b><em>Teléfono:</em></b> <br/>
      0351-4819324
    </p>
    <p>
        <b><em>Email:</em></b> <br/>
        Ventas@eptechnology.com
      </p>
  </div>
  <div class="col-4">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d851.2554172900916!2d-64.22631557074294!3d-31.4135290543018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298a463d3cff1%3A0xe973ec97bf5399b2!2sMaestro%20Vidal%20%26%20Avenida%20Santa%20Ana%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1574451066379!5m2!1ses!2sar"
      width="700" height="400" frameborder="0" style="border:0;" allowfullscreen="" style="border: 1px solid black;"> frameborder="0"></iframe>
  </div>
</div>
